
$primary: #7C6E99; 
$warning: #A7CB1A; 
$success: #4C7CA5; 
@import '../node_modules/bootstrap/scss/bootstrap.scss'; 

body{
    background-color: #F3F3F3;
} 
// section -a
.section-a,footer{     
    .btn{
        width: 80%;
    }
    .btn-1,.btn-2,.btn-3{
        color: white;
    } 
    .btn-1{
        background-color: #7C6E99;
    } 
    .btn-2{
        background-color: #A7CB1A; 
        position: relative;
    } 
    .btn-3{
        background-color: #4C7CA5;
    } 
    .card{
        max-width: 350px;  
    }
    .banner{
        background-color: #A7CB1A; 
        color: white; 
        position: absolute; 
        top: -12%;
        width: 100%;
    }  
    h1{
        color: #626262; 
    } 
    p{
        color: #BABABA;
    }
}  

.features-group{
    color: #A1A1A1;
} 

.accordion-button {
    background-color: #F3F3F3;  
    font-weight: bold;
    .card{
        background-color: #F3F3F3; 
        border: none; 
        margin: 0;
    }

} 


.accordion-button:not(.collapsed)::before {
 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2370638a'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); 
     -webkit-transform: rotate(
-180deg
);
    transform: rotate(-180deg); 
}

.accordion-button::after { 
    width: 0; 
};

.accordion-button::before {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.4rem;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}



.button{ 
    justify-content: center;
    align-items: center;
    .btn-group{   
        display: flex; 
        align-items: center;
        justify-content: center;  
        max-width: 300px; 
    }
}

.btn-group{
    justify-content: center;
}



@media (max-width: 768px) { 
    .section-a{
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        .card{
            min-width: 320px;
        }
    }
    .btn{
        width: 40%;
    } 

    .accordion-body {
        .card{
            .card-title{
                
                display: flex; 
                align-items: center; 
                justify-content: center; 
            }
            .card-body{
                text-align: center;
                
            }
        }
    
    } 
} 

@media (max-width: 625px) { 
    .accordion-body {
        .card{
            .card-title{
                font-weight: bolder;
            }
        }
    
    } 
}